.question{
    background: #f0efef;
    border-radius: 8px;
    box-shadow: 0 50px 22px rgba(241, 241, 241, 0.04);
    margin-top: 25px;
    padding: 24px;

    & + .question{
        margin-top: 8px;
    }
   
    &.highlighted{
        background: #F4f0ff;
        border: 1px solid #03989E;

        footer .user-info span{
            color: #29292e;
        }
    }
    &.answered{
        background-color: #dbdcdd;
    }

    p{
        color: #29292e;

    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;


        .user-info{
            display: flex;
            align-items: center;
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span{
                margin-left: 8px;
                color: #737380;
                font-size: 14px;
            }
        }
        >div{
            display:flex;
            gap: 16px;
        }

        button{
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button{
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;

                &.liked{
                    color: #03989E;
                    
                    svg path{
                        stroke: #03989E;
                    }
                }
            }
            &.hover{
                filter: brightness(0.5);
            }
        }
    }

    
}
.resposta{
    display: grid;
    background-color: #03989E;
    border-radius: 8px;
    box-shadow: 1 2px 12px rgba(0,0,0, 0.04);
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 50%;
  
    p{
        margin: 10px;
        color: #fff;
        height: 100%;
    }
    .dados{
        display: grid;
        width: 100%;
        align-items: end;
        justify-self: flex-end;
      
         aside{
            
             display: flex;
             margin: 10px;
             align-items: end;
             justify-self: flex-end;
          
            p{
                font-size: small;
                margin-top: 10px;
            }
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }   
        
    }
    
}