.modalResposta{
    position: absolute;
    border: 2px;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 700px;
    background-color:#FFF;
    border-radius: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #03989E;
   

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    aside{
        display: flex;
        justify-content: space-between; 
        button{
            margin-top: 10px;
            margin-right: 20px;
            height: 50px;
            width: 120px;
            border-radius: 8px;
            font-weight: 500;
            background: #FFBD59;
            color: #FFF;
            padding: 0 32px;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            &:not(:disabled):hover{
                filter:brightness(0.9);
            }
            &:disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
            
        }
        h1{
            color: black;
            margin-left: 12px;
            margin-top: 20px;
        }
    }

    textarea{
        margin: 15px;
        border-radius: 1px;
        box-shadow: 0px 3px 4px gray;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        height: 400px;
        width: 658px;
        margin-left: 20px;
        margin-right: 20px;
        border-color: #03989E;
    }
      
}
.excluirSala{
    position: absolute;
    border: 2px;
    align-items: center;
    justify-content: center;
    width: 590px;
    height: 380px;
    background-color:#FFF;
    border-radius: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #03989E;
    transform: translate(-50%, -50%);
    display: grid;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
   div{
   

    justify-self: center;
    height: 50%;
    display: grid;
    h1{
        align-items: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        width: 200px;
    }
    img{
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin: 10px;
        width: 50px;
    }
   }
   
    aside{
        justify-content: space-between;
        button{
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 50px;
            height: 50px;
            width: 200px;
            border-radius: 8px;
            font-weight: 500;
            color: #FFF;
            padding: 0 32px;
        
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            &:not(:disabled):hover{
                filter:brightness(0.9);
            }
            &:disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
            
            
        }
        .b1{
            background-color: #DBDCDD;
            color: #737380;
        }
        .b2{
            background-color: #FFBD59;
            color: #FFF;

        }
    }

}
.excluirPergunta{
    position: absolute;
    border: 2px;
    align-items: center;
    justify-content: center;
    width: 590px;
    height: 380px;
    background-color:#FFF;
    border-radius: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #03989E;
    transform: translate(-50%, -50%);
    display: grid;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
   div{
   

    justify-self: center;
    height: 50%;
    display: grid;
    h1{
        align-items: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        width: 250px;
    }
    img{
        
        color: #03989E;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin: 10px;
        width: 50px;
        svg path{
            stroke: #03989E;
        }
    }
   }
   
    aside{
        justify-content: space-between;
        button{
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 50px;
            height: 50px;
            width: 200px;
            border-radius: 8px;
            font-weight: 500;
            color: #FFF;
            padding: 0 32px;
        
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            &:not(:disabled):hover{
                filter:brightness(0.9);
            }
            &:disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
            
        }
        .b1{
            background-color: #DBDCDD;
            color: #737380;
        }
        .b2{
            background-color: #FFBD59;
            color: #FFF;

        }
    }

}
.perguntaResp{
    position: absolute;
    border: 2px;
    align-items: center;
    justify-content: center;
    width: 590px;
    height: 380px;
    background-color:#FFF;
    border-radius: 10px;
    border-style:solid;
    border-width:1px;
    border-color: #03989E;
    transform: translate(-50%, -50%);
    display: grid;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
   div{
   

    justify-self: center;
    align-items: center;
    height: 50%;
    display: grid;
    h1{
        align-items: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        width: 350px;
    }
    p{
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    img{
        
        color: #03989E;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        align-self: center;
        justify-self: center;
        margin: 10px;
        width: 50px;
        svg path{
            stroke: #03989E;
        }
    }
   }
   
    aside{
        justify-content: space-between;
        button{
            margin-top: 10px;
            margin-right: 20px;
            margin-bottom: 50px;
            height: 50px;
            width: 200px;
            border-radius: 8px;
            font-weight: 500;
            color: #FFF;
            padding: 0 32px;
        
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            &:not(:disabled):hover{
                filter:brightness(0.9);
            }
            &:disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
            
        }
        .b1{
            background-color: #DBDCDD;
            color: #737380;
        }
        .b2{
            background-color: #FFBD59;
            color: #FFF;

        }
    }

}



#page-room{
    header{
        padding:24px;
        border-bottom: 1px solid #e2e2e2;
        

        .content{
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        img{
            width: 135px;
        }

        .div{
            display: flex;
            gap: 16px;
            img{
                height: 38px;
            }
            button{
                height: 40px;
            }
        }
    }

    
    main{
        max-width: 800px;
        margin: 0 auto;

        .room-title{
            margin: 32px 0 24px;
            display: flex;
            align-items: center;
        }

        h1{
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            color: #29292e;

        }
        span{
            margin-left: 16px;
            background: #FFBD59;
            border-radius: 9999px;
            padding: 8px 16px;
            color: #fff;
            font-weight: 500;
            font-size: 14px;

        }

        form{
            textarea{
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0,0,0,0.04);
                resize: vertical;
                min-height: 130px;
            }
        }

        .form-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 16px;

            .user-info{
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }

                span{
                    margin-left: 8px;
                    color: #29292e;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

        }
        span{
            font-size: 14px;
            color: #000000;
            font-weight: 500;

            button{
                background: transparent;
                border: 0;
                color: blue;
                text-decoration: underline;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .question-list{
            margin-top: 32px;
        }
    }
}